<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.msg.mapper.UserinfoMapper" >
  <resultMap id="BaseResultMap" type="com.msg.entity.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
 <!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from userinfo
    where id = #{id,jdbcType=INTEGER}
  </delete> -->
  <insert id="insert" parameterType="com.msg.entity.User" >
    insert into userinfo (id, username, password, 
      email, status)
    values (null, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 1)
  </insert>
  <!-- <update id="updateByPrimaryKey" parameterType="com.msg.entity.Userinfo" >
    update userinfo
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update> -->
  <select id="selectLogin" resultMap="BaseResultMap" >
    select id, username, password, email, status
    from userinfo 
    where username=#{username,jdbcType=VARCHAR} and password=#{password,jdbcType=VARCHAR}
  </select>
  
  
   
  <select id="selectOtherUser" resultMap="BaseResultMap" >
    select id, username, password, email, status
    from userinfo
    where username &lt;&gt; #{username,jdbcType=VARCHAR}
  </select>
  
  <select id="selectExistUser"  parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(id)
    from userinfo
    where username = #{username,jdbcType=VARCHAR}
  </select>
</mapper>